* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #0bee3c;
    color: white;
    padding: 10px 0;
    height: 150px; /* Yüksekliği belirleyelim */
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
}

nav {
    list-style-type: none;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Yazıyı yatayda ortalar */
}

.center-text h1 {
    font-family: 'Arial', sans-serif; /* Yazı tipini Arial yap */
    font-size: 40px; /* Yazı boyutunu 40px yap */
    color: #ff0000; /* Yazı rengini koyu gri yap */
    font-weight: bold; /* Yazıyı kalın yap */
    font-style: italic; /* Yazıyı italik (eğik) yap */
}

.hero {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px 0;
}

.services {
    padding: 50px 0;
    text-align: center;
}

.service-item {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 20px;
    background-color: #e2e2e2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
